$TTL 604800
@   IN  SOA ns1.{{ zona }}. admin.{{ zona }}. (
        2         ; Serial
        604800    ; Refresh
        86400     ; Retry
        2419200   ; Expire
        604800 )  ; Negative Cache TTL

; Servidors de noms
@   IN  NS  ns1.{{ zona }}.
{{ zona }}. IN    NS    {{ zona }}.

; Registres A
@   IN  A   {{ IP_hostDNS }}
ns1 IN  A   {{ IP_hostDNS }}
www IN  A   {{ IP_hostWEB }}
{{ zona }}. IN    A    {{ IP_hostDNS }}

; Alias (CNAME)