<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ zone }}</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="https://i.pinimg.com/736x/78/57/5d/78575df8cf87f8cd15321b124daea717.jpg" type="image/x-icon">
</head>
<body>
    <h1>Benvingut a {{ zone }}</h1>
</body>
</html>
