<VirtualHost *:80>
    ServerName www.demo.com
    DocumentRoot /var/www/demo
    <Directory /var/www/demo>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>
</VirtualHost>