<VirtualHost *:80>
    ServerAdmin webmaster@{{ zone }}
    ServerName www.{{ zone }}
    DocumentRoot /var/www/{{ zone }}

    #RewriteEngine on
    #RewriteCond %{SERVER_NAME} =www.{{ zone }}
    #RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

<VirtualHost *:443>
    ServerAdmin webmaster@{{ zone }}
    ServerName www.{{ zone }}
    DocumentRoot /var/www/{{ zone }}

    SSLEngine on
    SSLCertificateFile /etc/ssl/certs/{{ zone }}.crt
    SSLCertificateKeyFile /etc/ssl/private/{{ zone }}.key

    <Directory /var/www/{{ zone }}>
        AllowOverride All
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>