<VirtualHost *:80>
    ServerAdmin webmaster@{{ zone }}
    ServerName www.{{ zone }}
    DocumentRoot /var/www/{{ zone }}

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory /var/www/{{ zone }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
